@import "bower_components/semantic-ui-sass/app/assets/stylesheets/semantic-ui.scss";
body {
	font-size: 14px;
	line-height: 1.42857;
	color: #333333;
	background-color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #5a5a5a;
}

