<main>
{{outlet}}
</main>
<footer class='ui basic segment'>
	<div class='legal ui basic center aligned segment'>
		<p>
			© 2014 Company, Inc. ·
			<a href='#'>Privacy</a>
			·
			<a href='#'>Terms</a>
		</p>
    </div>
 </footer>
